[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"

[packages]
fastapi = "*"
tortoise-orm = "*"
asyncpg = "*"
uvicorn = "*"
uvloop = "*"
aiofiles = "*"
ujson = "*"
fastapi-users = {extras = ["tortoise-orm"],version = "*"}

[requires]
python_version = "3.8"